* {
    font-family: 'Croissant One', cursive;
    font-family: 'Skranji', cursive;
}

body {
    background-color: rgb(11, 18, 50);
    margin: 0;
}

#navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;

    background: rgba(65, 96, 180, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navlinks {
    text-align: center;
    margin-top: 15px;
}

.navlinks a {
    color: rgb(65, 200, 184);
    margin: 15px 30px;
    font-size: 22px;
}

.navlinks a:hover {
    color: #514bbe;
}

.welcome {
    margin-top: 100px;
    color: rgb(139, 119, 228);
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#icon {
    display: inline-block;
    color: white;
    height: 10px;
    font-size: 500px;
}

p {
    color: white;
    background-color: #4160B4;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 50px;
    padding: 20px;
    border: 2.5px solid white;
    border-radius: 10px;
}

video,
img {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin-bottom: 50px;
    border: 2px solid #4160b4;
    overflow: hidden;
}

#video {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}

.socialoverlay {
    position: fixed;
    right: -40px;
    bottom: 400px;

    text-align: center;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    padding: 4px;
    padding-right: 40px;
    border: 2px solid white;


    background: rgba(65, 96, 180, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
}

ion-icon {
    color: #54ffda;
    font-size: 2rem;
    padding: 2px;
}

ion-icon:hover {
    color: #515bbe;
}


footer a {
    text-align: center;
    color: #54ffda;
    margin: 15px 20px;
    font-size: 20px;
}

footer a:hover {
    color: #515bbe;
}